@model SchoolAPP.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}

<a class="btn btn-primary btn-md" href="/Teacher/Show/@Model.Teacherid">Cancel</a>


<form method="POST" action="/Teacher/Delete/@Model.Teacherid">
    <button class="btn btn-danger btn-md">Delete</button>
</form>


<h2>Are you sure you want to delete @Model.Teacherfname @Model.Teacherlname</h2>
<p>*WARNING: THIS ACTION CANNOT BE UNDONE!*</p>

