@model IEnumerable<SchoolAPP.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of Teachers</h2>

@foreach(var teacher in Model){

    <div><a href="#">@teacher.Teacherfname @teacher.Teacherlname</a></div>

 }



