
@{
    ViewBag.Title = "MissingFields";
}

<h2>Missing Fields in the form!</h2>

<p>Please go back and enter all the values in the form to create a new teacher</p>

<a class="btn btn-success btn-md" href="/Teacher/New">+ New Teacher</a>