@model SchoolAPP.Models.Class

@{
    ViewBag.Title = "Show";
}

<a href="/Class/List" class="btn btn-primary btn-md">return to search bar</a>

<h2>Show Class</h2>

<h3>Class name:</h3>
@Model.Classname
<br>
<h3>Class code:</h3>
@Model.Classcode
<br>







