<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">School APP</h1>
        <p class="lead">School App with information about Teachers and Classes for the moment</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Here you can navigate to the 2 lists available at the moment</h2>
            <a href="/teacher/list" class="btn btn-primary btn-md">Teachers List &raquo;</a>
            <a href="/class/list" class="btn btn-primary btn-md">Class List &raquo;</a>
        </section>

    </div>
</main>